extends layout.jade

block title
  title Olivia
  
block content
  include includes/intro.jade
  include includes/features.jade
  include includes/check-out.jade
  include includes/screenshots.jade
  include includes/testimonials.jade
  include includes/support.jade
  include includes/subscribe.jade
  include includes/blog-preview.jade
  include includes/page-footer.jade
