include mixins.jade

doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no")
    block title
    link(rel="stylesheet" href="css/style.min.css")
    
  body
    include includes/navbar.jade
    block content
    script(src="js/vendor.min.js")
    script(src="js/script.min.js")
