////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////

@grey-13: #222;
@grey-20: #333;





////////////////////////////////////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////////////////////////////////////

@open-sans: "Open Sans", Tahoma, sans-serif;


// Text

@text_font-size: 16px;
@text_line-height: 26px;
@text_font-family: @open-sans;
@text_color: @grey-20;


// Headings

@headings_font-family: @open-sans;
@headings_color: @grey-13;





////////////////////////////////////////////////////////////////////////////////
// Iconography
////////////////////////////////////////////////////////////////////////////////

@icon-font_name: "symbols";
@icon-font_path: "../font/";





////////////////////////////////////////////////////////////////////////////////
// z-index
////////////////////////////////////////////////////////////////////////////////

@z-index_1: 1;
@z-index_2: 2;
