//- TODO: сделать блоком-миксином.
li.assistant
  .assistant__name Micheal Rush
  .assistant__occupation Founder & CEO
  p.assistant__descr Continually coordinate leveragedfunctional value. Holisticly target stand-alone action items with ethical
  //- TODO: сделать блоком-миксином.
  ul.socials
    li.socials__item
      a.socials__link(href="#" title="We on Facebook" target="_blank")
        i.icon.icon--facebook
        span.socials__text-hidden We on Facebook
    li.socials__item
      a.socials__link(href="#" title="We on Twitter" target="_blank")
        i.icon.icon--twitter
        span.socials__text-hidden We on Twitter
    li.socials__item
      a.socials__link(href="#" title="We on Linkedin" target="_blank")
        i.icon.icon--linkedin
        span.socials__text-hidden We on Linkedin
    li.socials__item
      a.socials__link(href="#" title="We on Pinterest" target="_blank")
        i.icon.icon--pinterest-circled
        span.socials__text-hidden We on Pinterest
    li.socials__item
      a.socials__link(href="#" title="We on Google+" target="_blank")
        i.icon.icon--gplus
        span.socials__text-hidden We on Google+
    li.socials__item
      a.socials__link(href="#" title="We on Dribbble" target="_blank")
        i.icon.icon--dribbble
        span.socials__text-hidden We on Dribbble
  img.assistant__img(src="img/img_assistant-1.jpg" width="168" height="168" alt="Photo")

li.assistant
  .assistant__name Paul McCartney
  .assistant__occupation Customer Relation Officer
  p.assistant__descr Continually coordinate leveragedfunctional value. Holisticly target stand-alone action items with ethical
  ul.socials
    li.socials__item
      a.socials__link(href="#" title="We on Facebook" target="_blank")
        i.icon.icon--facebook
        span.socials__text-hidden We on Facebook
    li.socials__item
      a.socials__link(href="#" title="We on Twitter" target="_blank")
        i.icon.icon--twitter
        span.socials__text-hidden We on Twitter
    li.socials__item
      a.socials__link(href="#" title="We on Linkedin" target="_blank")
        i.icon.icon--linkedin
        span.socials__text-hidden We on Linkedin
    li.socials__item
      a.socials__link(href="#" title="We on Pinterest" target="_blank")
        i.icon.icon--pinterest-circled
        span.socials__text-hidden We on Pinterest
    li.socials__item
      a.socials__link(href="#" title="We on Google+" target="_blank")
        i.icon.icon--gplus
        span.socials__text-hidden We on Google+
    li.socials__item
      a.socials__link(href="#" title="We on Dribbble" target="_blank")
        i.icon.icon--dribbble
        span.socials__text-hidden We on Dribbble
  img.assistant__img(src="img/img_assistant-2.jpg" width="168" height="168" alt="Photo")
  
li.assistant
  .assistant__name Louis Pasteur
  .assistant__occupation Sales Executive
  p.assistant__descr Continually coordinate leveragedfunctional value. Holisticly target stand-alone action items with ethical
  ul.socials
    li.socials__item
      a.socials__link(href="#" title="We on Facebook" target="_blank")
        i.icon.icon--facebook
        span.socials__text-hidden We on Facebook
    li.socials__item
      a.socials__link(href="#" title="We on Twitter" target="_blank")
        i.icon.icon--twitter
        span.socials__text-hidden We on Twitter
    li.socials__item
      a.socials__link(href="#" title="We on Linkedin" target="_blank")
        i.icon.icon--linkedin
        span.socials__text-hidden We on Linkedin
    li.socials__item
      a.socials__link(href="#" title="We on Pinterest" target="_blank")
        i.icon.icon--pinterest-circled
        span.socials__text-hidden We on Pinterest
    li.socials__item
      a.socials__link(href="#" title="We on Google+" target="_blank")
        i.icon.icon--gplus
        span.socials__text-hidden We on Google+
    li.socials__item
      a.socials__link(href="#" title="We on Dribbble" target="_blank")
        i.icon.icon--dribbble
        span.socials__text-hidden We on Dribbble
  img.assistant__img(src="img/img_assistant-3.jpg" width="168" height="168" alt="Photo")
  
li.assistant
  .assistant__name John Lennon
  .assistant__occupation Technical Executive
  p.assistant__descr Continually coordinate leveragedfunctional value. Holisticly target stand-alone action items with ethical
  ul.socials
    li.socials__item
      a.socials__link(href="#" title="We on Facebook" target="_blank")
        i.icon.icon--facebook
        span.socials__text-hidden We on Facebook
    li.socials__item
      a.socials__link(href="#" title="We on Twitter" target="_blank")
        i.icon.icon--twitter
        span.socials__text-hidden We on Twitter
    li.socials__item
      a.socials__link(href="#" title="We on Linkedin" target="_blank")
        i.icon.icon--linkedin
        span.socials__text-hidden We on Linkedin
    li.socials__item
      a.socials__link(href="#" title="We on Pinterest" target="_blank")
        i.icon.icon--pinterest-circled
        span.socials__text-hidden We on Pinterest
    li.socials__item
      a.socials__link(href="#" title="We on Google+" target="_blank")
        i.icon.icon--gplus
        span.socials__text-hidden We on Google+
    li.socials__item
      a.socials__link(href="#" title="We on Dribbble" target="_blank")
        i.icon.icon--dribbble
        span.socials__text-hidden We on Dribbble
  img.assistant__img(src="img/img_assistant-4.jpg" width="168" height="168" alt="Photo")
