section.blog-preview
  h1.blog-preview__heading Olivia Blog Post
  //- TODO: вынести в отдельный блок.
  .slider
    .slide
      //- TODO: вынести в отдельный блок.
      article.post-preview
        h2.post-preview__heading Extremely we promotion remainder
        p.post-preview__lead Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-03-24")
            span.pubdate__day 24
            | Mar 2015
      
      article.post-preview
        h2.post-preview__heading Seamlessly orchestrate highly efficient
        p.post-preview__lead Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-03-25")
            span.pubdate__day 25
            | Mar 2015

      article.post-preview
        h2.post-preview__heading Efficiently deploy corporate global
        p.post-preview__lead Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-03-26")
            span.pubdate__day 26
            | Mar 2015
      
      article.post-preview
        h2.post-preview__heading Extremely we promotion remainder
        p.post-preview__lead Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-06-02")
            span.pubdate__day 02
            | June 2015
      
      article.post-preview
        h2.post-preview__heading Seamlessly orchestrate highly efficient
        p.post-preview__lead Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-06-06")
            span.pubdate__day 06
            | June 2015
      
      article.post-preview
        h2.post-preview__heading Efficiently deploy corporate global
        p.post-preview__lead Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-06-08")
            span.pubdate__day 08
            | June 2015

    .slide
      article.post-preview
        h2.post-preview__heading Extremely we promotion remainder
        p.post-preview__lead Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-03-24")
            span.pubdate__day 24
            | Mar 2015
      
      article.post-preview
        h2.post-preview__heading Seamlessly orchestrate highly efficient
        p.post-preview__lead Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-03-25")
            span.pubdate__day 25
            | Mar 2015

      article.post-preview
        h2.post-preview__heading Efficiently deploy corporate global
        p.post-preview__lead Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-03-26")
            span.pubdate__day 26
            | Mar 2015
      
      article.post-preview
        h2.post-preview__heading Extremely we promotion remainder
        p.post-preview__lead Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-06-02")
            span.pubdate__day 02
            | June 2015
      
      article.post-preview
        h2.post-preview__heading Seamlessly orchestrate highly efficient
        p.post-preview__lead Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-06-06")
            span.pubdate__day 06
            | June 2015
      
      article.post-preview
        h2.post-preview__heading Efficiently deploy corporate global
        p.post-preview__lead Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry.
        a.post-preview__link(href="#")
          i.icon.icon--globe
          | http://srowar.com/lowerbacklink
        .pubdate
          time(datetime="2015-06-08")
            span.pubdate__day 08
            | June 2015
