section.blog-preview
  h1.blog-preview__heading Olivia Blog Post
  +slider()
    .slide
      +post-preview({
        heading: "Extremely we promotion remainder",
        lead: "Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable.",
        date: "2015-03-24",
        day: "24",
        monthAndYear: "Mar 2015"
      })
      
      +post-preview({
        heading: "Seamlessly orchestrate highly efficient",
        lead: "Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay.",
        date: "2015-03-25",
        day: "25",
        monthAndYear: "Mar 2015"
      })
      
      +post-preview({
        heading: "Efficiently deploy corporate global",
        lead: "Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry.",
        date: "2015-03-26",
        day: "26",
        monthAndYear: "Mar 2015"
      })
      
      +post-preview({
        heading: "Extremely we promotion remainder",
        lead: "Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable.",
        date: "2015-06-02",
        day: "02",
        monthAndYear: "June 2015"
      })
      
      +post-preview({
        heading: "Seamlessly orchestrate highly efficient",
        lead: "Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay.",
        date: "2015-06-06",
        day: "06",
        monthAndYear: "June 2015"
      })
      
      +post-preview({
        heading: "Efficiently deploy corporate global",
        lead: "Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry.",
        date: "2015-06-08",
        day: "08",
        monthAndYear: "June 2015"
      })

    .slide
      +post-preview({
        heading: "Extremely we promotion remainder",
        lead: "Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable.",
        date: "2015-03-24",
        day: "24",
        monthAndYear: "Mar 2015"
      })
      
      +post-preview({
        heading: "Seamlessly orchestrate highly efficient",
        lead: "Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay.",
        date: "2015-03-25",
        day: "25",
        monthAndYear: "Mar 2015"
      })
      
      +post-preview({
        heading: "Efficiently deploy corporate global",
        lead: "Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry.",
        date: "2015-03-26",
        day: "26",
        monthAndYear: "Mar 2015"
      })
      
      +post-preview({
        heading: "Extremely we promotion remainder",
        lead: "Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable.",
        date: "2015-06-02",
        day: "02",
        monthAndYear: "June 2015"
      })
      
      +post-preview({
        heading: "Seamlessly orchestrate highly efficient",
        lead: "Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay.",
        date: "2015-06-06",
        day: "06",
        monthAndYear: "June 2015"
      })
      
      +post-preview({
        heading: "Efficiently deploy corporate global",
        lead: "Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry.",
        date: "2015-06-08",
        day: "08",
        monthAndYear: "June 2015"
      })
