section.check-out
  .check-out__center
    h1.check-out__heading Check out our newapp
    .check-out__row
      ul.check-out__list
        li.check-out__item
          //- html в этом месте получается ужасным.
          +icon("clock")
          b.check-out__gist Credibly deliver team driven value for products
          p.check-out__text Credibly deliver team driven value for user-centric products efficiently target enterprise web services via extensive data monotonectally develop cross functional niches via extensive.
        li.check-out__item
          +icon("rocket")
          b.check-out__gist Synergistically mesh cross-media process
          p.check-out__text Energistically myocardinate competitive niche markets and go forward quality vectors. Energistically morph cross-platform  harness sustainable interfaces without emerging platforms.
        li.check-out__item
          +icon("cog")
          b.check-out__gist Professionally actualize functional e-markets
          p.check-out__text Credibly deliver team driven value for user-centric products efficiently target enterprise web services via extensive data monotonectally develop cross functional niches via extensive.
      .check-out__img-wrap
        picture
          source(media="(min-width: 1200px)" srcset="img/img_check-out--xl@1x.png 1x")
          img.check-out__img(src="img/img_check-out--xs@1x.png" srcset="img/img_check-out--xs@2x.png 2x" width="572" height="550" alt="Image")
