.contact
  h2.contact__heading Get in Touch
  p.contact__text Efficiently scale state of the art e-tailers vis-a-vis business action items. Objectively communicate multifunctional customer service through proactive e-business. Proactively transition strategic leadership skills vis-a-vis state of the art quality vectors.
  include contact-form.jade
