section.intro#intro
  .intro__center
    img.intro__img(src="img/img_intro.png" width="530" height="673" alt="Image")
    div.intro__text-wrap
      h1.intro__heading Hello & Welcome to Olivia
      p.intro__text Compellingly fashion enterprise-wide services before client-based outsourcing. Enthusiastically reinvent inexpensive innovation rather than collaborative expertise. Synergistically communicate equity invested markets for tactical portals.
      //- html в этом месте получается ужасным.
      b.intro__emphasis Download for Free
      | 
      a.intro__link(href="#" title="Download from App Store" target="_blank") Download from App Store
      | 
      a.intro__link(href="#" title="Download from Google Play" target="_blank") Download from Google Play
