ul.nav
  li.nav__item
    a.nav__link.nav__link--current(href="#intro")
      | Home
      span.nav__text-hidden Current
  li.nav__item
    a.nav__link(href="#features") Features
  li.nav__item
    a.nav__link(href="#testimonials") Testimonials
  li.nav__item
    a.nav__link(href="#blog-preview") Blog
  li.nav__item
    a.nav__link(href="#subscribe") Newsletter
  li.nav__item
    a.nav__link(href="#contact") Contact
