nav.navbar
  include logo.jade
  +nav([{
    text: "Home",
    href: "#intro",
    current: true
  }, {
    text: "Features",
    href: "#features"
  }, {
    text: "Testimonials",
    href: "#testimonials"
  }, {
    text: "Blog",
    href: "#blog-preview"
  }, {
    text: "Newsletter",
    href: "#subscribe"
  }, {
    text: "Contact",
    href: "#contact"
  }])
