section.screenshots
  //- TODO: вынести в отдельный блок.
  .slider
    //- TODO: вынести в отдельный блок.
    .screenshot
      img.screenshot__img(src="img/img_screenshot-1.jpg" width="264" height="467" alt="Screenshot")
      .overlay
        a.btn.btn--screenshot(href="#" title="Go to link") Go to link
        
    .screenshot
      img.screenshot__img(src="img/img_screenshot-2.jpg" width="264" height="467" alt="Screenshot")
      .overlay
        a.btn.btn--screenshot(href="#" title="Go to link") Go to link
        
    .screenshot
      img.screenshot__img(src="img/img_screenshot-3.jpg" width="264" height="467" alt="Screenshot")
      .overlay
        a.btn.btn--screenshot(href="#" title="Go to link") Go to link
        
    .screenshot
      img.screenshot__img(src="img/img_screenshot-4.jpg" width="264" height="467" alt="Screenshot")
      .overlay
        a.btn.btn--screenshot(href="#" title="Go to link") Go to link
        
    .screenshot
      img.screenshot__img(src="img/img_screenshot-1.jpg" width="264" height="467" alt="Screenshot")
      .overlay
        a.btn.btn--screenshot(href="#" title="Go to link") Go to link
        
    .screenshot
      img.screenshot__img(src="img/img_screenshot-2.jpg" width="264" height="467" alt="Screenshot")
      .overlay
        a.btn.btn--screenshot(href="#" title="Go to link") Go to link
        
    .screenshot
      img.screenshot__img(src="img/img_screenshot-3.jpg" width="264" height="467" alt="Screenshot")
      .overlay
        a.btn.btn--screenshot(href="#" title="Go to link") Go to link
        
    .screenshot
      img.screenshot__img(src="img/img_screenshot-4.jpg" width="264" height="467" alt="Screenshot")
      .overlay
        a.btn.btn--screenshot(href="#" title="Go to link") Go to link
