section.screenshots
  +slider()
    +screenshot("img/img_screenshot-1.jpg")
    +screenshot("img/img_screenshot-2.jpg")
    +screenshot("img/img_screenshot-3.jpg")
    +screenshot("img/img_screenshot-4.jpg")
    +screenshot("img/img_screenshot-1.jpg")
    +screenshot("img/img_screenshot-2.jpg")
    +screenshot("img/img_screenshot-3.jpg")
    +screenshot("img/img_screenshot-4.jpg")
