//- TODO: сделать миксином.
ul.socials
  li.socials__item
    a.socials__link(href="#" title="We on Facebook" target="_blank")
      i.icon.icon--facebook
      span.socials__text-hidden We on Facebook
  li.socials__item
    a.socials__link(href="#" title="We on Twitter" target="_blank")
      i.icon.icon--twitter
      span.socials__text-hidden We on Twitter
  li.socials__item
    a.socials__link(href="#" title="We on Pinterest" target="_blank")
      i.icon.icon--pinterest-circled
      span.socials__text-hidden We on Pinterest
  li.socials__item
    a.socials__link(href="#" title="We on Google+" target="_blank")
      i.icon.icon--gplus
      span.socials__text-hidden We on Google+
  li.socials__item
    a.socials__link(href="#" title="We on Dribbble" target="_blank")
      i.icon.icon--dribbble
      span.socials__text-hidden We on Dribbble
