section.subscribe#subscribe
  .subscribe__center
    h1.subscribe__heading Newsletter
    p.subscribe__text Rapidiously repurpose compelling action items through equity invested process improvements. Seamlessly mesh virtual manufactured products before next-generation growth strategies. Assertively disintermediate pandemic e-services and enabled. Quickly brand extensible leadership for highly efficient systems. Monotonectally strategize cross functional with sticky.
    include subscribe-form.jade
    
