section.support
  .support__center
    h1.support__heading Ask questions for Appliction Support
    p.support__note
      //- TODO: между строчными элементами должны быть пробелы.
      //- TODO: разобраться, почему ничего не происходит по нажатию.
      a.support__link(href="mailto:info@olivia.com") info@olivia.com
      span.support__text-emphasis or
      //- TODO: разобраться, почему ничего не происходит по нажатию.
      a.support__link(href="tel:1-125-485-968") +01 125 485 968
    ul.support__list
      //- TODO: думаю, это должен быть миксин, а не инклуд.
      include assistant.jade
