section.testimonials#testimonials
  +slider("testimonials")
    +testimonial({
      text: "Collaboratively facilitate team driven products whereas cross functional customer service. Compellingly integrate corporate interfaces vis-a-vis cutting-edge convergence. Dynamically build prospective e-tailers whereas accurate innovation. Assertively architect.",
      author: ["Lura", "Moore"],
      occupation: "CEO, FastTech",
      imgSrc: "img/img_testimonial-1.jpg"
    })
    +testimonial({
      text: "Rapidiously administrate distinctive manufactured products and ethical architectures. Objectively reintermediate prospective resources with cost effective deliverables. Credibly transform web-enabled data and superior processes. Completely.",
      author: ["Joghn", "Barnna"],
      occupation: "Manager, One Step",
      imgSrc: "img/img_testimonial-2.jpg"
    })
    +testimonial({
      text: "Objectively optimize seamless portals before highly efficient initiatives. Synergistically recaptiualize superior niches rather than scalable results. Quickly extend interoperable e-business for cooperative scenarios. Progressively facilitate frictionless.",
      author: ["Charles", "Darwin"],
      occupation: "CEO, BlueStar",
      imgSrc: "img/img_testimonial-3.jpg"
    })
