.blog-preview {
  padding-top: 115px;
  padding-bottom: 106px;
  background: #fff fixed url(../img/bg_blog-preview.jpg) center top no-repeat;

  &__heading {
    margin-top: 0;
    margin-bottom: 105px;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
  }
}
