.contact-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1085px;
  margin-top: 54px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 24px;
  line-height: 24px;

  &__input,
  &__message {
    display: block;
    color: @blue-26;
    border: 2px solid #fff;
    outline: none;
    transition: background-color .15s;
  }
  &__input:hover,
  &__input:focus,
  &__message:hover,
  &__message:focus {
    color: #fff;
    background-color: @purple-50;
  }

  &__input {
    width: 24%;
    padding: 10px 15px;
  }

  // not working
  &__input::-moz-placeholder {
    color: @blue-26;
    transition: color .15s
  }
  &__input::-webkit-input-placeholder {
    color: @blue-26;
    transition: color .15s
  }
  &__input:-ms-input-placeholder {
    color: @blue-26;
    transition: color .15s
  }
  &__input::-ms-input-placeholder {
    color: @blue-26;
    transition: color .15s
  }
  &__input::placeholder {
    color: @blue-26;
    transition: color .15s
  }

  &__input:hover::-moz-placeholder,
  &__input:focus::-moz-placeholder {
    color: #fff;
  }
  &__input:hover::-webkit-input-placeholder,
  &__input:focus::-webkit-input-placeholder {
    color: #fff;
  }
  &__input:hover::-ms-input-placeholder,
  &__input:focus::-ms-input-placeholder {
    color: #fff;
  }
  &__input:hover::-ms-input-placeholder,
  &__input:focus::-ms-input-placeholder {
    color: #fff;
  }
  &__input:hover::placeholder,
  &__input:focus::placeholder {
    color: #fff;
  }

  &__message {
    width: 100%;
    height: 159px;
    margin-top: 18px;
    padding: 10px 15px (10px + 24);
  }

  // not working
  &__message::-moz-placeholder {
    color: @blue-26;
    transition: color .15s
  }
  &__message::-webkit-input-placeholder {
    color: @blue-26;
    transition: color .15s
  }
  &__message:-ms-input-placeholder {
    color: @blue-26;
    transition: color .15s
  }
  &__message::-ms-input-placeholder {
    color: @blue-26;
    transition: color .15s
  }
  &__message::placeholder {
    color: @blue-26;
    transition: color .15s
  }

  &__message:hover::-moz-placeholder,
  &__message:focus::-moz-placeholder {
    color: #fff;
  }
  &__message:hover::-webkit-input-placeholder,
  &__message:focus::-webkit-input-placeholder {
    color: #fff;
  }
  &__message:hover::-ms-input-placeholder,
  &__message:focus::-ms-input-placeholder {
    color: #fff;
  }
  &__message:hover::-ms-input-placeholder,
  &__message:focus::-ms-input-placeholder {
    color: #fff;
  }
  &__message:hover::placeholder,
  &__message:focus::placeholder {
    color: #fff;
  }
}
