.contact {
  margin-bottom: 48px;
  padding-top: 113px;

  &__heading {
    margin-top: 0;
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: inherit;
  }

  &__text {
    width: 925px;
    margin-right: auto;
    margin-left: auto;
  }
}
