.logo {
  display: block;

  &__img {
    width: 119px;
    height: 46px;
    vertical-align: top;
  }
}

@media (min-width: 768px) {
  .logo {

    &__img {
      width: 155px;
      height: 60px;
    }
  }
}
