.nav {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  .ul-reset;
  background-color: @purple-50;
  box-shadow: 0 5px 5px 0 rgba(84,20,109,.5);
  // 5% - magic number, чтобы не было видно тени
  transform: translateY(-105%);
  transition: transform .5s;

  .navbar--drop-nav & {
    transform: translateY(0);
  }

  &__item {

  }

  &__link {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-top: 2px solid lighten(@purple-50, 5%);
    border-bottom: 2px solid darken(@purple-50, 5%);
    transition:
      color .15s,
      background-color .15s,
      border-color .15s;
  }
  &__link:hover {
    color: @purple-50;
    background-color: #fff;
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  &__link:active {
    color: fade(@purple-50, 50%);
    background-color: #fff;
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  &__link--current {
    color: @purple-50;
    background-color: #fff;
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  &__link--current:active {
    color: @purple-50;
  }

  &__text-hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav {

    &__link {
      font-size: 18px;
      line-height: 54px;
    }
  }
}

@media (min-width: 992px) {
  .nav {
    position: static;
    flex-direction: row;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    transform: none;

    &__item:not(:last-child) {
      margin-right: 5px;
    }

    &__link {
      font-size: 16px;
      line-height: 40px;
      border-radius: 20px;
      background-color: transparent;
      border-top: none;
      border-bottom: none;
    }
    &__link:hover {
      color: #fff;
      background-color: @purple-50;
    }
    &__link:active {
      color: fade(#fff, 50%);
      background-color: @purple-50;
    }
    &__link--current {
      color: #fff;
      background-color: @purple-50;
    }
    &__link--current:active {
      color: #fff;
    }
  }
}

@media (min-width: 1200px) {
  .nav {

    &__link {
      font-size: 18px;
      line-height: 45px;
    }
  }
}
