.screenshots {
  padding-top: 36px;
  padding-bottom: 36px;

  &__heading {
    margin-top: 0;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .screenshots {
    padding-top: 48px;
    padding-bottom: 48px;

    &__heading {
      margin-bottom: 30px;
      font-size: 48px;
      line-height: 1;
    }
  }
}

@media (min-width: 992px) {
  .screenshots {
    padding-top: 115px;
    padding-bottom: 115px;
    background: #fff fixed url(../img/bg_screenshots.jpg) center top no-repeat;

    &__heading {
      margin-bottom: 100px;
    }
  }
}
