.slider {

  margin-right: auto;
  margin-left: auto;

  &--screenshots {
    width: 264px;
  }
  &--testimonials {
    padding-bottom: 41px;
  }
  &--blog-preview {
    padding-bottom: 40px;
  }
}

@media (min-width: 573px) {
  .slider {

    &--screenshots {
      width: 543px;
      padding-bottom: 40px;
    }
  }
}

@media (min-width: 768px) {
  .slider {
    width: 1146px;

    &--screenshots {
      padding-bottom: 50px;
    }
    &--testimonials {
      padding-bottom: 110px;
    }
    &--blog-preview {
      padding-bottom: 68px;
    }
  }
}
