.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 39px;
  padding-left: 0;
  list-style: none;

  &--assistant {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  &__item {
    margin-right: 4px;
    margin-left: 4px;
  }
  &__item--assistant {
    margin-right: 8px;
    margin-left: 8px;
  }
  &__item--assistant:first-child {
    margin-left: 0;
  }
  &__item--assistant:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
    width: 48px;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: inherit;
    background-color: transparent;
    border-radius: 50%;
    transition:
      color .15s,
      background-color .15s;
  }
  &__link:hover,
  &__link:active {
    background-color: @purple-50;
  }
  &__link--assistant {
    width: auto;
    line-height: 20px;
    background-color: transparent;
    border-radius: 0;
  }
  &__link--assistant:hover,
  &__link--assistant:active {
    background-color: transparent;
  }

  &__link .icon {
    transition: color .15s;
  }
  &__link:active .icon {
    color: fade(#fff, 50%);
  }
  &__link--assistant:hover .icon {
    color: @purple-50;
  }
  &__link--assistant:active .icon {
    color: fade(@purple-50, 50%);
  }

  &__text-hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .socials {
    width: 500px;
    margin-bottom: 45px;
    margin-right: auto;
    margin-left: auto;

    &--assistant {
      width: auto;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 992px) {
  .socials {
    margin-bottom: 40px;

    &--assistant {
      margin-bottom: 0;
    }
    .assistant:nth-child(odd) &--assistant {
      justify-content: flex-end;
    }
  }
}

@media (min-width: 1200px) {
  .socials {

    &__item {
      margin-right: 16px;
      margin-left: 16px;
    }
  }
}
