.socials {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
  list-style: none;

  &--assistant {
    justify-content: flex-start;
    margin-bottom: 0;
  }
  .assistant:nth-child(odd) &--assistant {
    justify-content: flex-end;
  }

  &__item:not(:last-child) {
    margin-right: 32px;
  }
  &__item--assistant:not(:last-child) {
    margin-right: 16px;
  }

  &__link {
    display: block;
    width: 48px;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: inherit;
    background-color: transparent;
    border-radius: 50%;
    transition:
      color .15s,
      background-color .15s;
  }
  &__link:hover,
  &__link:active {
    background-color: @purple-50;
  }
  &__link--assistant {
    width: auto;
    line-height: 20px;
    background-color: transparent;
    border-radius: 0;
  }
  &__link--assistant:hover,
  &__link--assistant:active {
    background-color: transparent;
  }

  &__link .icon {
    transition: color .15s;
  }
  &__link:active .icon {
    color: fade(#fff, 50%);
  }
  &__link--assistant:hover .icon {
    color: @purple-50;
  }
  &__link--assistant:active .icon {
    color: fade(@purple-50, 50%);
  }

  &__text-hidden {
    display: none;
  }
}
