.subscribe {
  color: #fff;
  background: @purple-63 linear-gradient(to right, @blue-70, @purple-63) center no-repeat;
  background-size: 2024px 804px;

  &__center {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 140px;
    text-align: center;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 37px;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: inherit;
  }

  &__text {
    width: 979px;
    margin-right: auto;
    margin-left: auto;
  }
}
