.testimonials {
  padding-top: 135px;
  padding-bottom: 50px;
  color: #fff;
  background: @purple-63 linear-gradient(to right, @purple-63, @blue-70) center no-repeat;
  background-size: 2024px 804px;
}
