.testimonial {
  position: relative;
  margin: 0;
  padding-top: 20px;
  padding-left: 260px;

  &__text {
    position: relative;
    width: 820px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
  }
  &__text::before,
  &__text::after {
    content: "“";
    position: absolute;
    font-size: 60px;
    line-height: 1;
    font-family: "Times New Roman";
  }
  &__text::before {
    top: 0;
    left: 0;
  }
  &__text::after {
    bottom: 0;
    left: 440px;
    transform: rotate(180deg);
  }

  &__author {
    padding-left: 40px;
    font-size: 18px;
  }

  &__emphasis {
    text-transform: uppercase;
  }

  &__occupation {
    padding-left: 40px;
  }

  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 209px;
    height: 209px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
  }

  &__photo {
    width: 199px;
    height: 199px;
  }
}
